.list-group{
    max-width: 90%;
}


.DetailContainer{
    height: 100vh;
    width: 100vw;
    background: #dadada;
    display:flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.productsContainer{
    max-width: 80%;
}

h1{
    text-align: center;
    font-size: 60px;
}
.CardContainer{
    width: 100vw;
    display: flex;  
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.ImgContainer{
    margin: 5px;
    width: 100%;
}
.TextTitle{
    width: 50%;
    border: 2px solid rgb(234, 233, 233);
    margin-right: 30px;

}

.ImgContainer img{

object-fit: scale-down;
border-radius: 15px;
}

@media  screen and (max-width:1400px) {

    
    .CardContainer{
        width: 100vw;
        display: flex;  
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
}
p{
    display: inline;
}