.item-list-text{

    background-color: rgb(58, 58, 58);
    height: 60px;
    font-size: 30px;
    color:rgb(240, 247, 253);
    max-width:50%;
    max-height: 50%;
    margin: 0 auto;
    margin-top: 5px;
    gap:5px;
    padding: 5px;
    border-radius:7px;
    }
    .precioContainer{
        padding: 5px 70px 5px 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:rgb(255, 255, 255);
        background: rgb(15, 76, 0);
        border: 2px solid rgb(8, 125, 15);
        border-radius:5px;
    }
    .cardPrecioContainer{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span{
        padding-right: 10px;
    }
    .productsContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .buttonContainer{
    
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .descriptionContainer{
        background: #dadada;
        margin: 0;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
            align-items: center;
            text-align: center;
    }
.imgContainer{

    height: 250px;
    width: 100%;
}
img{
    object-fit: cover;
    height:200px;
}
.cardContainer{
    margin: 8px;
}